<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
      .desktop-text {
        font-size: 16px;
      }
      .desktop-small-text {
        font-size: 14px;
      }
      @media only screen and (max-width: 600px) {
        .mobile-text {
          font-size: 10px;
        }
        .mobile-small-text {
          font-size: 8px;
        }
      }
    </style>
  </head>
  <body style="margin: 0; padding: 0;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td>
          <table
            align="center"
            border="0"
            cellpadding="0"
            cellspacing="0"
            width="100%"
            style="border: 0px solid; border-collapse: collapse;"
          >
            <tr>
              <td style="padding: 40px 10% 40px 10%;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td
                      class="mobile-text desktop-text"
                      style="color: #000000; font-family: Arial, sans-serif;"
                    >
                      Hey {{ username }}, <br />
                      <br />
                    </td>
                  </tr>
                  <tr>
                    <td
                      class="mobile-text desktop-text"
                      style="color: #000000; font-family: Arial, sans-serif;"
                    >
                      I don't want to use too much of your precious time so I'll
                      keep this short. <br /><br />

                      It's been about two months since the last time you used
                      the UPTUNE platform. Why? <br /><br />

                      Is it because you didn't have a gig lately?<br />
                      The Soundcheck process is too complicated? Or the sound
                      balance is not quite right? <br /><br />

                      I'd love to hear about it and help you make the most of
                      UPTUNE if you're still interested. <br /><br />

                      Just reply to this email and we'll take it from there.
                      Looking forward to chatting with you! <br /><br />
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
