<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<style type="text/css">
	.desktop-text {
		font-size: 16px;
	}
	.desktop-small-text {
		font-size: 14px;
	}
	@media only screen and (min-width:600px) {
		.hide-on-desktop, * [aria-labelledby='hide-on-desktop'] {
			display: none;
			max-height: 0;
			overflow: hidden;
		}
	}
	@media only screen and (max-width:600px) {
		.mobile-text {
    		font-size: 10px;
  		}
		.mobile-small-text {
    		font-size: 8px;
  		}
	}
</style>
</head>
<body style="margin: 0; padding: 0;">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">	
		<tr>
			<td style="padding: 10px 0 30px 0;">
				<table bgcolor="#1c1c1c" align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border: 0px solid; border-collapse: collapse;">
					<tr>
						<td bgcolor="#1c1c1c" style="padding: 40px 10% 40px 10%;">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<td style="padding: 20px 0 30px 0;">
									<a href="https://www.upscale-technology.com" style="color: #ffffff;">
										<img src="https://s3.amazonaws.com/console.upscale-technology.com/logo_upscale_white.png" width="150" height="102" style="display: block;" />
									</a>
								</td>
								<tr>
									<td class="mobile-text desktop-text" style="color: #8c8c8c; font-family: Arial, sans-serif;">
										Hey {{username}},
									</td>
								</tr>
								<tr>
									<td class="mobile-text desktop-text" style="padding: 20px 0 30px 0; color: #8c8c8c; font-family: Arial, sans-serif;">
											Your free UPTUNE plan gives you three free Soundchecks every month. <br /><br />

											And guess what? They just renewed.<br /><br />
											
											Making great performances needs a lot of practice!<br /><br />
											
											That’s why we give you three Soundcheck every month - so you can get ready for your next gig.
									</td>
								</tr>
								<tr>
									<td>
										<div class="hide-on-desktop" aria-labelledby="hide-on-desktop" style="mso-hide: all;">
											<a href="https://uptune.page.link/soundcheck" target="_blank">
												<button 
													style="
													display: inline-block;
													border-radius: 2px;
													background-color: #229999;
													border: none;
													color: #ffffff;
													text-align: center;
													font-size: 14px;
													padding: 15px;
													width: 140px;
													margin: 5px;
													"
													style="vertical-align:middle"><span>Soundcheck</span>
												</button>
											</a>
										</div>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td align="center" bgcolor="#1c1c1c" style="padding: 30px 30px 0 30px;">
							<table border="0" cellpadding="0" cellspacing="0">
								<tr>
									<td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
										<a href="https://www.facebook.com/upscaletechnology" style="color: #ffffff;">
											<img src="https://s3.amazonaws.com/console.upscale-technology.com/media_logo_facebook.png" alt="Facebook" width="38" height="38" style="display: block;" border="0" />
										</a>
									</td>									
									<td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
									<td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
										<a href="https://www.instagram.com/upscaletechnology" style="color: #ffffff;">
											<img src="https://s3.amazonaws.com/console.upscale-technology.com/media_logo_instagram.png" alt="Instagram" width="38" height="38" style="display: block;" border="0" />
										</a>
									</td>									
									<td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
									<td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
										<a href="https://www.youtube.com/channel/UCxpXlJDqgKyLN_D-GWukl9g" style="color: #ffffff;">
											<img src="https://s3.amazonaws.com/console.upscale-technology.com/media_logo_youtube.png" alt="Youtube" width="38" height="38" style="display: block;" border="0" />
										</a>
									</td>									
									<td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
									<td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
										<a href="https://soundcloud.com/upscale-technology" style="color: #ffffff;">
											<img src="https://s3.amazonaws.com/console.upscale-technology.com/media_logo_soundcloud.png" alt="Soundcloud" width="38" height="38" style="display: block;" border="0" />
										</a>
									</td>									
									<td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
									<td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
										<a href="https://twitter.com/upscaletechno" style="color: #ffffff;">
											<img src="https://s3.amazonaws.com/console.upscale-technology.com/media_logo_twitter.png" alt="Twitter" width="38" height="38" style="display: block;" border="0" />
										</a>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td bgcolor="#1c1c1c" style="padding: 30px 30px 30px 30px;">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td class="mobile-small-text desktop-small-text" align="center" style="color: #5c5c5c; font-family: Arial, sans-serif;" width="75%">
										You're receiving this email because you signed up for a UPTUNE account.<br />
										<br />
										Our address is<br />
										Upscale Technogoly Inc.<br />
										#0220 - 400 rue Montfort<br />
										Montréal, QC - Canada<br />
										H3C 4J9<br /><br />
										<br /><br />
										&reg; Upscale Technology Inc., Montreal, Canada 2019<br />
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>